<p>searchpartners works!</p>

<label for="native">Native:</label>
<input class="border-[1px] rounded-[2px]" type="text" id="native" [(ngModel)]="native" name="native" required>

<label for="target">Target:</label>
<input class="border-[1px] rounded-[2px]" type="text" id="target" [(ngModel)]="target" name="target" required>

<button (click)="searchPartners()">Search</button>

<div>
  @for (res of results; track res.user_id) {
    <div class="result-item border p-2 my-2 rounded">
      <h1><strong>Name:</strong> {{ res.name }}</h1>
      <p><strong>Email:</strong> {{ res.email }}</p>

      <p><strong>Native Languages:</strong></p>
      <ul>
        @for (lang of getNativeLanguages(res); track lang.language_id) {
          <li>{{ lang.language?.name || lang.language_id }}</li>
        }
      </ul>

      <p><strong>Target Languages:</strong></p>
      <ul>
        @for (lang of getTargetLanguages(res); track lang.language_id) {
          <li>{{ lang.language?.name || lang.language_id }}</li>
        }
      </ul>

      <button (click)="sendRequest(res.user_id)">Send Request</button>
      <br>
    </div>
  }
</div>

<div>
  <button (click)="toogleActivePendingFor()">View all requests for you</button>

  @if(isActivePendingFor === true) {
    <div>
      @for(res of resultsPendingFor; track res) {
        <div class="result-item border p-2 my-2 rounded">
          <h1>Request for you</h1>
          <p><strong>Request from:</strong> {{ res.from_user.full_name }}</p>
          <p><strong>Request to:</strong> {{ res.to_user.full_name }}</p>
          <p><strong>Email:</strong> {{ res.from_user.email }}</p>    
        </div>
      }
    </div>
  }
</div>

<div class="mt-4">
  <button (click)="toogleActivePendingFrom()">View all requests from you</button>

  @if(isActivePendingFrom === true) {
    <div>
      @for(res of resultsPendingFrom; track res) {
        <div class="result-item border p-2 my-2 rounded">
          <h1>Request for you</h1>
          <p><strong>Request from:</strong> {{ res.from_user.full_name }}</p>
          <p><strong>Request to:</strong> {{ res.to_user.full_name }}</p>
          <p><strong>Email:</strong> {{ res.to_user.email }}</p>    
        </div>
      }
    </div>
  }
</div>

<div class="mt-4">
  <button (click)="toogleActiveAccept()">View all accept requests from you</button>

  @if(isActiveAccept === true) {
    <div>
      @for(res of resultsAcceptedFor; track res) {
        <div class="result-item border p-2 my-2 rounded">
          <h1>Request for you</h1>
          <p><strong>Request from:</strong> {{ res.from_user.full_name }}</p>
          <p><strong>Request to:</strong> {{ res.to_user.full_name }}</p>
          <p><strong>Email:</strong> {{ res.to_user.email }}</p>    
        </div>
      }
    </div>
  }
</div>
