<p>searchpartners works!</p>

<label for="native">Native:</label>
<input class="border-[1px] rounded-[2px]" type="text" id="native" [(ngModel)]="native" name="native" required>

<label for="target">Target:</label>
<input class="border-[1px] rounded-[2px]" type="text" id="target" [(ngModel)]="target" name="target" required>

<button (click)="searchPartners()">Search</button>

<div>
  @if(results.length > 0) {
      @for (res of results; track res.user_id) {
      <div class="result-item border p-2 my-2 rounded">
        <h1><strong>Name:</strong> {{ res.full_name }}</h1>
        <p><strong>Email:</strong> {{ res.email }}</p>

        <p><strong>Native Languages:</strong></p>
        <ul>
          @for (lang of getNativeLanguages(res); track lang.language_id) {
            <li>{{ lang.language?.name || lang.language_id }}</li>
          }
        </ul>

        <p><strong>Target Languages:</strong></p>
        <ul>
          @for (lang of getTargetLanguages(res); track lang.language_id) {
            <li>{{ lang.language?.name || lang.language_id }}</li>
          }
        </ul>

        <button class="border-[1px] px-[5px] py-[5px] rounded-[2px] cursor-pointer" (click)="sendRequest(res.user_id)">Send Request</button>
        <br>
      </div>
    } 
  } @else {
      <p class="ml-50">No results found.</p>
  }
</div>

<div>
  <button (click)="toogleActivePendingFor()">Show all requests for you</button>

  @if(isActivePendingFor === true) {
    @if(resultsPendingFor.length > 0) {
        <div>
      @for(res of resultsPendingFor; track res) {
        <div class="result-item border p-2 my-2 rounded">
          <h1>Request for you</h1>
          <p><strong>Request from:</strong> {{ res.from_user.full_name }}</p>
          <p><strong>Request to:</strong> {{ res.to_user.full_name }}</p>
          <p><strong>Email:</strong> {{ res.from_user.email }}</p>    

          <button class="border-[1px] px-[5px] py-[5px] rounded-[2px] cursor-pointer" (click)="acceptRequest(res.matchrequest_id)" >Accept</button>
          <button class="ml-5 border-[1px] px-[5px] py-[5px] rounded-[2px] cursor-pointer" (click)="declineRequest(res.matchrequest_id)">Decline</button>
        </div>
      }
    </div>
    } @else {
    <p class="ml-50">No pending requests for you.</p>
  }
  } 
</div>

<div class="mt-4">
  <button (click)="toogleActivePendingFrom()">Show all requests from you</button>

  @if(isActivePendingFrom === true) {
    @if(resultsPendingFrom.length > 0) {
        <div>
      @for(res of resultsPendingFrom; track res) {
        <div class="result-item border p-2 my-2 rounded">
          <h1>Request for you</h1>
          <p><strong>Request from:</strong> {{ res.from_user.full_name }}</p>
          <p><strong>Request to:</strong> {{ res.to_user.full_name }}</p>
          <p><strong>Email:</strong> {{ res.to_user.email }}</p>    
        </div>
      }
    </div>
    } @else {
    <p class="ml-50">No pending requests from you.</p>
  }
  } 
</div>

<div class="mt-4">
  <button (click)="toogleActiveAccept()">Show all the ones you've accepted</button>

  @if(isActiveAccept === true) {
    @if(resultsAcceptedFor.length > 0) {
        <div>
      @for(res of resultsAcceptedFor; track res) {
        <div class="result-item border p-2 my-2 rounded">
          <h1>Request for you</h1>
          <p><strong>Request from:</strong> {{ res.from_user.full_name }}</p>
          <p><strong>Request to:</strong> {{ res.to_user.full_name }}</p>
          <p><strong>Email:</strong> {{ res.to_user.email }}</p>    
        </div>
      }
    </div>
    } @else {
    <p class="ml-50">No accepted requests.</p>
  }
  } 
</div>

<div class="mt-4">
  <button (click)="toogleActiveDecline()">Show all the ones you've declined</button>

  @if(isActiveDecline === true) {
    @if(resultsDeclinedFor.length > 0) {
        <div>
      @for(res of resultsDeclinedFor; track res) {
        <div class="result-item border p-2 my-2 rounded">
          <h1>Request for you</h1>
          <p><strong>Request from:</strong> {{ res.from_user.full_name }}</p>
          <p><strong>Request to:</strong> {{ res.to_user.full_name }}</p>
          <p><strong>Email:</strong> {{ res.to_user.email }}</p>    
        </div>
      }
    </div>
    } @else {
    <p class="ml-50">No declined requests.</p>
  }
  } 
</div>
